<vy-header activeTab="tasks"></vy-header>

<vy-status></vy-status>

<div>
  <ng-container *ngIf="!category">
    <ng-container *ngFor="let c of itrblCat">
      <ng-container *ngIf="c.visible">
        <vy-menu-item [name]="c.name" [icon]="c.icon"
                      [routerLink]="'/tasks/new/' + c.category">
        </vy-menu-item>
      </ng-container>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="category">
    <ng-container *ngFor="let t of taskDef[category].subTasks">
      <vy-menu-item [name]="t.name" [icon]="t.icon"
                    (click)="addTask(t)">
      </vy-menu-item>
    </ng-container>
  </ng-container>
</div>
