<div class="mat-elevation-z4">

  <div class="task-item" *ngIf="task">
    <div class="task" [routerLink]="linkTo">
      <div class="task-icon">
        <fa-icon [icon]="getIcon(task.icon)"></fa-icon>
      </div>

      <div class="title-progress">
        <div class="title">
          {{task.name}}
          ({{progress}}%)
        </div>

        <div class="progress">
          <div class="progress-bar">
            <div class="progress-parent">
              <div class="progress-current"
                   [ngStyle]="{ width: progress + '%' }">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="cancel" (click)="deleteTask()">
      <mat-icon aria-hidden="false" aria-label="Stop current taks">block</mat-icon>
    </div>
  </div>


  <div class="task-item" *ngIf="!task">
    <div class="task" routerLink="/tasks/new">
      <div class="task-icon">
        <mat-icon aria-hidden="false">add</mat-icon>
      </div>

      <div class="title-progress">
        <div class="title">Add new Task</div>
      </div>
    </div>
  </div>

</div>
