<div class="mat-elevation-z4">

  <div class="task-item">
    <div class="current-task" [routerLink]="linkto">
      <div class="title">{{task.title}}</div>

      <div class="progress">
        <div class="progress-bar">
          <div class="progress-parent">
            <div class="progress-current"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="halt">
      <mat-icon aria-hidden="false" aria-label="Stop current taks">block</mat-icon>
    </div>
  </div>

</div>
