<div class="grid">
  <div class="row" *ngFor="let row of space">
    <ng-container *ngFor="let col of row">
      <ng-container *ngIf="col.occupied">
        <div class="col occupied {{col.cls}}">
        </div>
      </ng-container>

      <ng-container *ngIf="!col.occupied">
        <div class="col {{col.cls}}">
        </div>
      </ng-container>
    </ng-container>

    <div class="col expand" *ngIf="expandX"></div>
  </div>

  <div class="row" *ngIf="expandY">
    <div class="col expand" *ngFor="let col of space[0]">
    </div>
  </div>
</div>
